/* login.ts */
.login-window {
	background-color: rgb(205, 205, 205) !important;
	border-radius: 0.375rem;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  }

.google-login-button {
	background-color: #ffffff;
	color: rgb(0, 0, 0);
	border: none;
	border-radius: 0.25rem;
	padding: 0.5rem 1rem;
	margin-top: 1rem;
	cursor: pointer;
}
